th, td
{
	text-align: center;
}

div.container
{
	width: 100%;
	margin: 0 auto;
}

div.header
{
	margin: 0 auto;
	max-width:980px;
}

body
{
	background: #f7f7f7;
	color: #333;
}

.employee-search-input
{
	width: 100%;
}

.datepicker
{
	float:left;width:70%;
}